body { font-family: 'Roboto', sans-serif; background-color: #DEA1A1; display: flex; align-items: center; justify-content: center; margin: 0; height: 100%; width: 100%; }
button { background: none; border: none; cursor: pointer; }
button:focus { border: none; }
footer { position: absolute; bottom: 0; color: #26272B; }

.skipToMainContent { color: #26272B; position: absolute; top: 0; height: 30px; position: absolute; transform: translateY(-100%); transition: transform 0.3s; }
.skipToMainContent:focus { transform: translateY(0%); }
.container { display: flex; flex-direction: column; width: 100vw; align-items: center; justify-content: center; }
.displayPic { border-radius: 50%; max-width: 200px; }
.headerText { margin: 7px; color: #26272B; }
.svgContainer { height: 50px; width: 50px; fill: #26272B; }
.socialMediaContainer { display: flex; min-width: 130px; justify-content: space-evenly;  }
.socialMediaIcon { height: 50px; width: 50px; }
